.header{
        height: 15%;
        display: block;
}
.footer{
        height: 15%;
        background-color: blue;
}
.right{
        float: right;
        width: 80%; 
        background-color: white;
}
.left{
       float: left;
       width: 20%; 
       background-color: lightcyan;
}
a { 
        text-decoration: none; 
        font-weight: bold;   
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }
#mappa{
        width: 500px;
        height: 300px;
        background: #25FF00;
        margin: 0 auto;
    }
.login{
        width: 30%; height: 30%;   
        margin: 10 auto;
        padding: 10px; 
        text-align: center; 
        vertical-align: middle;
        color: coral;
        border: 1px solid;
    
}
#prestito{
        border: solid 1px;
        color: coral;
        width: 30%;
        
    }